%section.panel.panel-default
  %h4.panel-heading
    the header
  %p.panel-body
    hola guapo!!
    %span.glyphicon.glyphicon-star

%section.well.well-lg.well-center
  %h1
    Huge thing going on
  %ul.list-unstyled
    %li
      %a
        %p Web thing


